<div *ngIf="sessionOi && sessionOi.isEmpty == false" class="alert alert-danger">
    Session is running!
</div>
<div *ngIf="configurationList && configurationList.isEmpty == false">

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <tr *ngFor="let config of configurationList.Configuration">
            <td (click)="onSelect(config)">{{ config.Id}}</td>
            <td (click)="onSelect(config)">{{ config.Description }}</td>
            <td><img src="assets/img/red-x.png" (click)="onDelete( config )" /></td>
        </tr>
    </table>
</div>

<button type="button" class="btn btn-default" (click)="newConfiguration()">
    New Configuration
</button>

<div *ngIf="selectedConfigOi">
    <configuration-detail [configOi]="selectedConfigOi" [configurationList]="configurationList"
        (onSessionStarted)="onSessionStarted($event)">
    </configuration-detail>
</div>