# Set the hostname of the RPi.  If blank then nothing will be changed.
UTC_HOSTNAME=utc

# If DEV_USER is specified, then a user will be created on the RPi with ssh/root
# authority.  Intended for users who intend to debug/develop UTC.
#DEV_USER=myuser
#DEV_USER_PASSWORD=password

# If 'true', then install software for setting up Bluetooth PAN.
#BLUETOOTH=true

# Specifies the IP address that the Bluetooth interface will use.
BLUETOOTH_IP=192.168.1.10

# The following are used to send the IP address of the UTC to MAIL_EMAIL
#MAIL_EMAIL_RECIPIENT=myname@myaddress.net
#MAIL_ACCOUNT=mygmailaccount.gmail.com
#MAIL_PASSWORD=mygmailpassword